<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<title th:text="#{index.page.title}"></title>
	<link th:replace="fragments/webjars :: link">
</head>
<body>
	<div class="container">		
		<h1 th:text="#{index.page.title}" align="center"></h1>
		<div class="row">
			<div class="col" th:insert="fragments/navs :: buttons">
			</div>
			<div class="col">				
			</div>
			<div class="col">
			</div>
		</div>					
	</div>
	<script th:replace="fragments/webjars :: script"></script>
</body>
</html>