<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<title th:text="#{index.page.title}"></title>
	<link th:replace="fragments/webjars :: link">
</head>
<style th:replace="fragments/css :: css"></style>
<body>
	<div class="container">
		<h1 th:text="#{index.page.title}" align="center"></h1>
		<div class="row">		
			<div class="col-md-auto" th:insert="fragments/navs :: buttons"></div>
			<div class="col">
				<div class="card">
				<h5 class="card-header text-white bg-success mb-3" th:text="#{RF05}"></h5>
					<div class="card-body">
						<form action="#" th:object="${fornecedor}" th:action="@{#{path_RF05}}" method="post">							
	                		<input th:field="*{id}" type="hidden"/>
							<div class="form-group">
								<label for="formGroupExampleInput">Matrícula</label>
								<input th:field="*{matricula}" type="text" class="form-control" id="formGroupExampleInput" placeholder="Entre com a matrícula">								
								<label for="formGroupExampleInput">CNPJ</label>
								<input th:field="*{cnpj}" type="text" class="form-control" id="formGroupExampleInput" placeholder="Entre com a matrícula">
								<label for="formGroupExampleInput">Razão Social</label>
								<input th:field="*{razaoSocial}" type="text" class="form-control" id="formGroupExampleInput" placeholder="Entre com a matrícula do aprovador">
								<label for="formGroupExampleInput">Nome Fantasia</label>
								<input th:field="*{nomeFantasia}" type="text" class="form-control" id="formGroupExampleInput" placeholder="Entre com o centro de custo">
								<label for="formGroupExampleInput">Status</label>
								<input th:field="*{status}" type="text" class="form-control" id="formGroupExampleInput" placeholder="Entre com o código da matéria prima">
								<label for="formGroupExampleInput">Site</label>
								<input th:field="*{site}" type="text" class="form-control" id="formGroupExampleInput" placeholder="Entre com a quantidade requisitada">
								<div class="row">
									<div class="col">
										<label for="formGroupExampleInput">Data</label>
										<input th:field="*{data}" type="date" class="form-control" id="formGroupExampleInput">
									</div>
									<div class="col">
										<label for="formGroupExampleInput">Telefone</label>
										<input th:field="*{telefone}" type="text" class="form-control" id="formGroupExampleInput">
									</div>
								</div>
							</div>
							<button type="submit" class="btn btn-warning">Cadastrar</button>			
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<script th:replace="fragments/webjars :: script"></script>
</body>
</html>