<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Bike e Cia - Requisições</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1>Requisições</h1>
		<form action="#" th:action="@{/requisicoes/index}" th:object="${requisicaoDeCompras}" method="post">
			<div class="form-group">
				<label for="formGroupExampleInput">Código</label>
				<input th:field="*{codigo}" type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
			</div>			
		</form>
		<h1>Requisições</h1>
		<table>
			<tr>
				<th>Código</th>
				<th>Matrícula</th>
				<th>Matrícula do Aprovador</th>
				<th>Centro de Custo</th>
				<th>Matéria Prima</th>
				<th>Quantidade</th>
				<th>Data</th>
				<th>Data Prevista</th>
			</tr>
			<tr th:each="requisicao : ${requisicoes}">
				<td th:text="${requisicao.codigo}">loading...</td>
				<td th:text="${requisicao.matricula}">loading...</td>
				<td th:text="${requisicao.matriculaAprovador}">loading...</td>
				<td th:text="${requisicao.centroDeCusto}">loading...</td>
				<td th:text="${requisicao.codigoMateriaPrima}">loading...</td>
				<td th:text="${requisicao.qtdRequisitada}">loading...</td>				
				<td th:text="${requisicao.data}">loading...</td>
				<td th:text="${requisicao.dataPrevista}">loading...</td>				
			</tr>
		</table>		
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>